<div class="container">
  <!-- Hero Section -->
  <section class="hero">
    <h1>לקארי שלי</h1>
    <h1>ב21 לאוקטובר התאריך המיוחד שלנו</h1>
    <button class="btn" (click)="showConf = !showConf">כבה קונפטי / הפעל קונפטי</button> <!-- Button with click event -->
  </section>

  <!-- Memories Section -->
  <section class="media-messages">
    <div style="margin-bottom: 70px;">
      <p>
        קארי אז למרות שלא קבענו עדיין לגמרי מה תאריך השנתיים שלנו, 
        אבל בכל זאת אני רוצה לרשום לך משהו ככה לסיכום התקופות האלה שלנו,
        אז היום ב-21 לפני שנתיים וחודשיים יצאנו לדייט הראשון שלנו 
        ואני חייב להגיד שזה הדייט שהכי חיכיתי לו בחיים מתוך 2 הדייטים שיצאתי עד אז חחחחחח (בדיחה).
      </p>
      <img src="https://i.ibb.co/2vH267K/4-C3-D7889-ED01-4919-8903-B5-E9-BC740-A3-B-1-102-o.jpg" alt="Flowers" />
      <p style="font-size: 12px;">תמונה מהפרחים שהבאתי לך בפעם הראשונה</p>
    </div>

    <p>
      אבל ברצינות אני אלך לפני הדייט הראשון וברגע שפגשתי אותך ודיברנו, 
      ואמרתי לעצמי וואו וואו מי זאת האישה המיוחדת הזאת, פעם ראשונה ששמעתי מישהי שנשמעת חנונית בערך 
      ששומעת רוק ולהקות שגדלתי עליהם ומשחקת בסוני. 
      אמרתי לעצמי שאת הדבר הכי מיוחד שהכרתי.
    </p>

    <p>
      אי שם כשהייתי בן איזה 15 שמעתי באובססיביות Our Last Night, השיר Same Old War, 
      ואני פשוט זוכר שאמרתי לעצמי ברגע שאמצא מישהי ששומעת Our Last Night זהו אני אדע שזאת אחת. 
      אז כמו במימ המוכר, אני זוכר את עצמי ככה באותו לילה.
    </p>

    <div class="media-grid">
      <img src="https://media1.tenor.com/m/53jaNOrVEhgAAAAC/woah-surprised.gif" alt="memory photo" />
    </div>

    <p>
      תראי בדר״כ תאמיני לי שלא ישר אמרתי על כל אחת שהיא מדהימה ולא חשבתי ככה שאתלהב ממישהי ככה, 
      אבל כבר בסוף הערב, אני לא יודע להסביר את ההרגשה, פשוט ידעתי שנהיה ביחד. 
      אמרתי לרון תשמע לי טוב אני אומר לך, האישה הזאת הולכת להיות חברה שלי. 
      חחחחחח אבל כמובן כמו שהיית גם בהתחלה, היית בטוחה שאני איזה פאק בוי או משהו כזה.
    </p>

    <iframe 
      style="border-radius:12px" 
      src="https://open.spotify.com/embed/track/6KOQLj5dcYuFSN6srNs96u?utm_source=generator" 
      width="100%" 
      height="152" 
      frameBorder="0" 
      allowfullscreen 
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
      loading="lazy">
    </iframe>

    <p>
      עכשיו נחזור לתאריך של הדייט הראשון. היינו בכלל אמורים להיפגש כמה ימים לפני 
      אבל סבא שלי נפטר באותו יום, חחחחחח ואת כבר חשבת שאני מחרטט אותך, 
      מה שהתגלה שלא. נלחמתי עליך בהתחלה שלנו כי לא כל כך היית איתי כמו שהייתי איתך, 
      וזה בסדר והגיוני. הדייט היה מדהים, עם כל ההתרגשות פשוט היה לי כל כך כיף. 
      דיברנו שעות על גבי שעות (נראלי איזה 4 שעות ויותר), 
      וכמובן שלא הצלחת להחזיק יותר ונפלת גם את כמוני, כי מה שיש בינינו זה משהו מטורף.
    </p>

    <img src="https://i.ibb.co/QNr6dCV/50-FD3-DBF-60-BB-49-DA-8511-456779-EA9-C89-1-102-o.jpg" alt="Memory" border="0">
    <p style="font-size: 12px;">הנה תמונה שלך נופלת לרגליי</p>

    <p>
      סתם סיטואציה מצחיקה שרק אנחנו יכולים להתקל בה. 
      הלכנו לטיול אי שם בהרי ירושלים, כולנו הולכים בוויב ובכיף, 
      את כמובן לא עבר 10 דק לטיול ראית חתיכת בד על הריצפה, 
      את כבר היית בדרמות שזה איזה אנקונדה שתהרוג אותנו. 
      לא עברנו עוד כמה דק כולי קושר שרוכים ואיזה חבורה ענקית של בנות דתיות, 
      חשבו שהצעתי לך נישואים, וכמובן שזרמנו עם זה ושיחקנו עד הסוף.
    </p>
    
    <img src="https://i.ibb.co/mGDwKbn/IMG-20220329-140717.jpg" alt="Memory" border="0">

    <h1>עכשיו נראה קצת זכרונות שלנו ביחד</h1>

    <p>והנה אנחנו בחופשה הראשונה שלנו ביחד</p>

    <img src="https://i.ibb.co/6Z8zLKx/7-CC0-EA9-F-2-CE6-4-F9-B-BE6-E-76-F51-BA78904-1-102-o.jpg" alt="">
    <img src="https://i.ibb.co/5cC95NZ/9-ABC95-D5-02-F1-4-C4-D-8697-E64188943-EFD-1-102-o.jpg" alt="">
    <img src="https://i.ibb.co/Gc9D267/F590-AA47-5398-45-C3-A9-D2-93-B98-E8470-C1-1-102-o.jpg" alt="">
    <img src="https://i.ibb.co/FDkQjwB/IMG-20220315-150900.jpg" alt="">
    <img src="https://i.ibb.co/kyXKRMV/IMG-20220316-105254.jpg" alt="">

    <p>סטאנדאפ ראשון</p>
    <img src="https://i.ibb.co/CvjhZ7R/8-BAE826-F-A848-4-AF7-82-C8-DFDF57434900-4-5005-c.jpg" alt="Standup" border="0">

    <p>ניתוח ראשון</p>
    <img src="https://i.ibb.co/NmJZqPm/F0-ECB65-E-BC8-E-494-E-8-F8-E-28-BD054-E18-ED-4-5005-c.jpg" alt="Surgery" border="0">

    <p>אפילו עגיל ראשון (מה הקשר)</p>
    <a href="https://ibb.co/FbDKzKb">
      <img src="https://i.ibb.co/tMJ4D4M/9-CDB7-B45-0-FFC-4382-AFC6-DC3-B22-A1-B223-1-102-o.jpg" alt="Ear Piercing" border="0">
    </a>

    <p>
      מאז אותו תאריך אייקוני, כל השאר הוא היסטוריה. 
      עברנו כל כך הרבה דברים ביחד קארי, רגעים טובים ורגעים קשים. 
      אני חושב שמה שמיוחד בנינו זה איך אחרי הכל נשארנו ביחד והוכחנו שאנחנו חזקים. 
      יש לנו משהו מיוחד, ידעתי את זה כל הזמן, וזאת הסיבה שחזרנו גם. 
      היינו כמו מגנט, מתישהו פשוט היינו חוזרים אם לא באותו רגע זה היה מגיע מתישהו.
      עשינו שינוי מטורף במערכת יחסים, מה שהיינו בהתחלה ומה שאנחנו עכשיו זה עולם אחר (לטובה). 
      אנחנו ממשיכים להשתפר ביחד כזוג, וממשיכים להרים אחד את השני כשצריך. 
      לפעמים עוברים גם רגעים לא קלים, אבל מה שהופך אותנו בלתי מנוצחים זה שאנחנו נשארים לא משנה כמה קשה. 
      אני כל כך אוהב אותך, את מדהימה בכל חלק קטן שבך. 
      זכיתי בך!
    </p>
    <img src="https://media.tenor.com/fOP9jA3HaMsAAAAi/hearts-of-happiness-hearts.gif" alt="">

    <p>אגב תוכדי שאני ממש עושה את זה 
      את שולחת לי הודעה של מה השיר שלנו באמת !!!
      הקטע המצחיק שפשוט השלמת לי את מה שחשבתי ועשיתי פה במשך שעות
      כאילו ממש יש לנו חיבור רוחני או איכשלא תקראי לזה 
      משהו בין ממדי 
      וזה רק מוכיח הכל פה באמת 
      ההוכחה הכי טובה שיכולה להיות 
      החיים שלנו באמת יהיו על הפנים בלעדי אחד מאיתנו
    </p>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4Dm32oO01YpIubCHaAtKkN?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </section>
</div>
